---
import "../styles/global.css";
import { eventSchema, theaterSchema, orgSchema } from "../data/schema.js";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      ёлка и сказка | Новый год 2025 в Москве | Детский новогодний праздник
    </title>

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="🎄 Новый год 2025 в Москве! Детский новогодний праздник 'ёлка и сказка' 3, 4 и 5 января. Интерактивное представление для всей семьи в центре Москвы. Билеты на qtickets.ru"
    />
    <meta
      name="keywords"
      content="ёлка и сказка, новый год 2025 москва, детский новогодний праздник, новогоднее представление москва, куда пойти на новый год с детьми, ёлка 2025 москва, новогодние каникулы, детский праздник, театральное представление, интерактивный спектакль, москва, qtickets"
    />
    <meta name="author" content="мосмузсин" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="yandex" content="index, follow" />

    <!-- Open Graph Meta Tags -->
    <meta
      property="og:title"
      content="ёлка и сказка | Новый год 2025 в Москве"
    />
    <meta
      property="og:description"
      content="🎄 Детский новогодний праздник 'ёлка и сказка' 3, 4 и 5 января в Москве. Интерактивное представление для всей семьи."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://elka.mkeverything.org" />
    <meta
      property="og:image"
      content="https://elka.mkeverything.org/artists.jpg"
    />
    <meta
      property="og:image:alt"
      content="ёлка и сказка - новогодний праздник в Москве"
    />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:site_name" content="ёлка и сказка" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="ёлка и сказка | Новый год 2025 в Москве"
    />
    <meta
      name="twitter:description"
      content="🎄 Детский новогодний праздник 'ёлка и сказка' 3, 4 и 5 января в Москве. Интерактивное представление для всей семьи."
    />
    <meta
      name="twitter:image"
      content="https://elka.mkeverything.org/artists.jpg"
    />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://elka.mkeverything.org" />

    <!-- Hreflang Tags -->
    <link rel="alternate" hreflang="ru" href="https://elka.mkeverything.org" />
    <link
      rel="alternate"
      hreflang="x-default"
      href="https://elka.mkeverything.org"
    />

    <!-- Yandex Verification -->
    <meta name="yandex-verification" content="YOUR_YANDEX_VERIFICATION_CODE" />

    <!-- Structured Data -->
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(eventSchema)}
    />
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(theaterSchema)}
    />
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(orgSchema)}
    />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        ((k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a));
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js?id=105859305",
        "ym"
      );

      ym(105859305, "init", {
        ssr: true,
        webvisor: true,
        clickmap: true,
        ecommerce: "dataLayer",
        accurateTrackBounce: true,
        trackLinks: true,
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/105859305"
          style="position:absolute; left:-9999px;"
          alt=""
        />
      </div></noscript
    >
    <!-- /Yandex.Metrika counter -->

    <!-- Preload critical hero images -->
    <link
      rel="preload"
      href="/src/assets/background.webp"
      as="image"
      type="image/webp"
    />
    <link
      rel="preload"
      href="/src/assets/title.webp"
      as="image"
      type="image/webp"
    />
    <link
      rel="preload"
      href="/src/assets/buy-tickets.webp"
      as="image"
      type="image/webp"
    />
  </head>
  <body class="bg-paper text-ink font-sans antialiased selection:bg-sand/30">
    <slot />
  </body>
</html>
